<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>
    <fieldset>
      <legend>Detail User</legend>
      <p><%= nama %></p>
      <p><%= email %></p>
    </fieldset>
    <form action="/users/detail?_method=PUT" method="POST">
      <input type="hidden" name="id" value="<%= _id %>" />
      <input type="text" name="nama" value="<%= nama %>" />
      <input type="email" name="email" value="<%= email %>" />
      <button type="submit">update</button>
    </form>
    <a href="/users">kembali</a>
  </body>
</html>
